<h1 class="title m-4">Mis Emprendimientos</h1>
<div class="flex m-4">
  <div class="w-40 h-20 bg-white shadow rounded-lg p-4 border border-gray-300">
    <%= link_to "Nueva empresa", new_business_path, class:"" %>
  </div>
  <div class="w-40 h-20 bg-white shadow rounded-lg p-4 border border-gray-300">
    <%= link_to "Nueva empresa", new_business_path, class:"" %>
  </div>
</div>
