<div>
  <h1 class="font-bold text-4xl">Businesses#show</h1>
  <p>Find me in app/views/businesses/show.html.erb</p>
  <%= button_to "Eliminar", business_path(@business), method: :delete %>
  <%= link_to "Editar", edit_business_path(@business) %>
  <%= link_to "Cancelar", businesses_path %>
</div>
