<div class="p-0 m-0 h-screen bg-gradient-to-r from-purple-700 to-blue-400 sm:bg-white md:grid md:grid-cols-2 md:px-auto">
  <!-- Primer div (mitad izquierda) -->
  <div class=" bg-gradient-to-r from-purple-600 to-blue-400 hidden md:block">
    <div class="hidden md:block fixed bottom-20 ms-5 mb-10">
      <h1 class="title text-gray-200 text-4xl">
        Bienvenido a <span>SEFI</span>
      </h1>
      <p class="light-text-form text-white text-sm lg:text-base">Iniciá sesión o creá una nueva cuenta con nosotros</p>
    </div>
  </div>
  <!-- Segundo div (mitad derecha) -->
  <div class="md:bg-white">
    <div class="p-2 flex justify-center items-center md:hidden">
      <%= render "devise/shared/logo_white"%>
    </div>
  </div>
</div>
