<footer class="p- mt-6 border-t fixed bottom-0 left-0 w-full bg-transparent flex justify-center items-center">
  <p class="text-center text-xs">Hecho con amor por <b>Team Sefi</b> <span class="text-red-500">❤️</span></p>
</footer>
