<footer class="bg-white p-2 mt-6 border-t fixed bottom-0 left-0 w-full flex justify-center items-center shadow-xl">
  <p class="text-center text-sm">SEFI | Copyright © 2023. Todos los derechos reservados</p>
</footer>
