<div
   class="overflow-hidden bg-[#fdfcfc] flex flex-col justify-between gap-[206px] w-full"
  id="LANDINGPAGERoot"
>
    </div>
    <div  class="relative flex flex-col justify-end mb-16 pt-32 gap-16 items-start">
      <img
        src="https://file.rendit.io/n/aWTDVtYDIGvz09H627XD.png"
         class="w-[842px] h-[600px] absolute top-0 left-[527px]"
      />
      <div  class="text-4xl  font-bold text-[#12144f] relative w-1/4 mb-4 ml-24">
        ¿Tenés un emprendimiento y necesitás ordenarte?
      </div>
      <div  class="text-lg  text-[#020336] relative w-1/4 mb-4 ml-24">
        SEFI es el sistema de gestión en la nube que te permite facilitar la
        administración de tu empresa, de manera simple, rápida e intuitiva.
      </div>
      <div
         class="shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#7647ca] relative flex flex-col ml-24 h-8 shrink-0 items-center py-1 rounded-[50px]"
        id="BotonPrimariocolor"
      >
        <div id="BotonPrimario">
          <%= link_to "Registate GRATIS", new_user_registration_path, class: "text-center text-lg text-white mx-6"%>
        </div>

      </div>
      <div  class="bg-[linear-gradient(90deg,_#5c258d_0%,#4389a2_100%)] bg-cover bg-50%_50% bg-blend-normal bg-no-repeat self-stretch relative flex flex-row justify-center gap-20 items-end py-10">
        <div  class="flex flex-col mb-5 gap-6 items-center">
          <img
            src="https://file.rendit.io/n/2t5kIxg0HZiqmtkACYHe.svg"
             class="w-20"
          />
          <div  class="text-center text-sm  text-[#fdfcfc] self-start w-full">
            Máxima protección para tus finanzas, tu seguridad es nuestra
            prioridad
          </div>
        </div>
        <div  class="self-start flex flex-col mb-5 gap-20 h-64 items-start">
          <div  class="text-center text-3xl  font-bold text-[#fdfcfc] ml-1">
            Te ofrecemos
          </div>
          <div  class="flex flex-col gap-10 w-48 items-center">
            <img
              src="https://file.rendit.io/n/9TpF9RBePo9aHh9hT54h.svg"
               class="w-20"
            />
            <div  class="text-center text-sm  text-[#fdfcfc] self-start w-full">
              Una experiencia intuitiva al controlar tus finanzas, muy simple y
              fácil de usar.
            </div>
          </div>
        </div>
        <div  class="flex flex-col mb-5 gap-10 items-center">
          <img
            src="https://file.rendit.io/n/pHQWXKgV7LB4Ceht68tj.svg"
             class="w-20"
          />
          <div  class="text-center text-sm  text-[#fdfcfc] self-start w-full">
            Soporte los 365 días del año. Siempre estaremos listos para ayudarte
          </div>
        </div>
      </div>
    </div>
    <div  class="text-center text-3xl  font-bold text-[#12144f] self-center mb-16">
      Funciones
    </div>
    <div  class="flex flex-row justify-between items-start mb-20 mx-24">
      <div  class="border-solid border-[#7647ca] shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#fdfcfc] flex flex-col gap-5 h-[280px] items-center py-6 border rounded-lg">
        <img
          src="https://file.rendit.io/n/MIbocFnH5EN4LDxMWhTk.svg"
           class="mb-1 w-12"
        />
        <div  class="text-xl  font-bold text-[#020336]">
          Registros
        </div>
        <div  class="text-center text-sm  text-[#020336] w-2/3 mx-12">
          Te permite registrar ingresos, egresos y transferencias
        </div>
      </div>
      <div  class="border-solid border-[#7647ca] shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#fdfcfc] flex flex-col gap-5 h-[280px] items-center py-6 border rounded-lg">
        <img
          src="https://file.rendit.io/n/5sHgxR5nT9DPK8O41mLU.svg"
           class="mb-1 w-20"
        />
        <div  class="text-center text-xl  font-bold text-[#020336]">
          Presupuestos
        </div>
        <div  class="text-center text-sm  text-[#020336] w-2/3 mx-12">
          Con esta funcion vas a poder crear presupuestos y actualizarlos
        </div>
      </div>
      <div  class="border-solid border-[#7647ca] shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#fdfcfc] flex flex-col gap-5 h-[280px] items-center py-6 border rounded-lg">
        <img
          src="https://file.rendit.io/n/0A7g0sporqr4AQp7xNwS.svg"
           class="mb-1 w-16"
        />
        <div  class="text-center text-xl  font-bold text-[#020336]">
          Pendientes
        </div>
        <div  class="text-center text-sm  text-[#020336] w-2/3 mx-12">
          Te ayuda a llevar
          {"  "}
          un registro de tus cobros y pagos pendientes
        </div>
      </div>
      <div  class="border-solid border-[#7647ca] shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#fdfcfc] flex flex-col gap-5 h-[280px] items-center py-6 border rounded-lg">
        <img
          src="https://file.rendit.io/n/88WFFuKaAAVkzfo4CC3j.svg"
           class="mb-1 w-16"
        />
        <div  class="text-center text-xl  font-bold text-[#020336]">
          Emprendimientos
        </div>
        <div  class="text-center text-sm  text-[#020336] w-2/3 mx-12">
          Sefi te permite gestionar las finanzas de más de un emprendimiento
        </div>
      </div>
    </div>
    <div class="text-center text-3xl  font-bold text-[#12144f] self-center mb-1">
      Beneficios
    </div>
    <div class="flex flex-row gap-3 items-start mb-16 ml-[272px] mr-[149px]">
      <div class="flex flex-col justify-between mt-12 w-6 shrink-0 h-56 items-start">
        <img
          src="https://file.rendit.io/n/Cuzw51bpm1x3R2FH3uKY.svg"
           class="w-6"
        />
        <img
          src="https://file.rendit.io/n/Cuzw51bpm1x3R2FH3uKY.svg"
           class="w-6"
        />
        <img
          src="https://file.rendit.io/n/Cuzw51bpm1x3R2FH3uKY.svg"
           class="w-6"
        />
        <img
          src="https://file.rendit.io/n/Cuzw51bpm1x3R2FH3uKY.svg"
           class="w-6"
        />
        <img
          src="https://file.rendit.io/n/Cuzw51bpm1x3R2FH3uKY.svg"
           class="ml-px w-6"
        />
      </div>
      <div class="relative flex flex-col gap-6 w-[909px] items-start pt-12 pb-20">
        <img
          src="https://file.rendit.io/n/mZfI1prtmBa5ATr8TrZT.png"
           class="w-[515px] h-[343px] absolute top-0 left-[393.6683349609375px]"
          id="ORHS"
        />
        <div class="text-lg  text-[#020336] relative mb-px ml-0">
          Gestión rápida e intuitiva de tus empresas
        </div>
        <div class="text-lg  text-[#020336] relative mb-px ml-0">
          Sincronización automática{" "}
        </div>
        <div class="text-lg  text-[#020336] relative mb-px ml-0">
          Organización centralizada
        </div>
        <div class="text-lg  text-[#020336] relative ml-0">
          Seguimiento de ingresos, gastos y presupuestos
        </div>
        <div class="text-lg  text-[#020336] relative">
          Acceso desde todos los dispositivos
        </div>
      </div>
    </div>
    <div class="text-center text-3xl  font-bold text-[#12144f] self-center mb-16">
      Emprendedores que nos recomiendan
    </div>
    <div class="flex flex-row justify-center items-start mx-24"> <!-- Cambio aquí para centrar las tarjetas -->
      <div class="shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#7647ca] flex flex-col justify-end gap-5 items-center pt-8 pb-5 px-1 rounded-lg">
        <img
          src="https://file.rendit.io/n/xw749OR8MDzJ6qRxHwWv.png"
           class="w-24"
          id="Ellipse1"
        />
        <div class="self-start flex flex-col justify-between mr-px gap-2 w-64 items-center">
          <div class="text-center text-sm  font-bold text-[#020336]">
            Sofía Perez
          </div>
          <div class="text-center text-sm  font-medium text-[#020336]">
            Chuni Deco
          </div>
          <div class="text-center text-sm  text-[#020336] self-start">
            “Esta plataforma <br />
            me ha ayudado a optimizar mis <br />
            procesos y a aumentar la productividad <br />
            de mi equipo”
          </div>
        </div>
      </div>
      <div class="shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#7647ca] flex flex-col justify-end gap-5 items-center pt-8 pb-5 px-6 rounded-lg">
        <img
          src="https://file.rendit.io/n/K5FbK6sFInvwYWECR7tK.png"
           class="w-24"
          id="Ellipse"
        />
        <div class="flex flex-col justify-between mr-px gap-2 w-56 items-center">
          <div class="text-center text-sm  font-bold text-[#020336]">
            Juan Manuel Minni
          </div>
          <div class="text-center text-sm  font-medium text-[#020336]">
            Lubricentro Minni
          </div>
          <div class="text-center text-sm  text-[#020336] self-start">
            “Esta página ha sido un salvavidas <br />
            para mi negocio. Me ha permitido <br />
            llevar un control preciso <br />
            de mis finanzas y mis clientes.”
          </div>
        </div>
      </div>
      <div class="shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#7647ca] flex flex-col justify-end gap-5 items-center pt-8 pb-5 px-10 rounded-lg">
        <img
          src="https://file.rendit.io/n/tsMxn68UshRB8llrZsMh.png"
           class="w-24"
          id="Ellipse2"
        />
        <div class="flex flex-col justify-between gap-2 w-48 items-center">
          <div class="text-center text-sm  font-bold text-[#020336]">
            Noeli Rossi
          </div>
          <div class="text-center text-sm  font-medium text-[#020336]">
            Noeli Rossi Make Up
          </div>
          <div class="text-center text-sm  text-[#020336] self-start">
            “Las herramientas son fáciles <br />
            de usar y me ayudan a <br />
            mantener todo en orden. <br />
            ¡Muy recomendado!”
          </div>
        </div>
      </div>
      <div class="shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.25)] bg-[#7647ca] flex flex-col justify-end gap-5 items-center pt-8 pb-5 px-10 rounded-lg">
        <img
          src="https://file.rendit.io/n/v9VHaSAYX3yV0qIBtC12.png"
           class="w-24"
          id="Ellipse3"
        />
        <div class="flex flex-col justify-between gap-2 w-[206px] items-center">
          <div class="text-center text-sm  font-bold text-[#020336]">
            Javier Torres
          </div>
          <div class="text-center text-sm  font-medium text-[#020336]">
            La Perla Backery
          </div>
          <div class="text-center text-sm  text-[#020336] self-start">
            “Desde que comencé a utilizar <br />
            esta página, mi empresa <br />
            ha experimentado un aumento <br />
            significativo en la eficiencia”
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
  <div  class="flex flex-col gap-5 mt-10">
    <div  class="flex flex-row justify-between items-start mx-[237px]">
      <div  class="text-lg font-sans text-[#12144f]">Sobre SEFI</div>
      <div  class="text-lg font-sans text-[#12144f]">
        Términos y condiciones
      </div>
      <div  class="text-lg font-sans text-[#12144f]">
        Preguntas Frecuentes
      </div>
      <div  class="text-lg font-sans text-[#12144f]">Contactanos</div>
    </div>
    <div
       class="shadow-[2px_0px_25px_0px_rgba(0,_0,_0,_0.15)] overflow-hidden bg-[#fdfcfc] flex flex-col justify-center h-12 shrink-0 items-center"
      id="Footercolor"
    >

    </div>
  </div>
</div>
