<div class="mx-4 my-10 md:mx-10">
  <div class="bg-teal-400 flex rounded-full w-full me-2 justify-star items-center">
    <svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
      <path d="M18.5002 3.08325C9.99016 3.08325 3.0835 9.98992 3.0835 18.4999C3.0835 27.0099 9.99016 33.9166 18.5002 33.9166C27.0102 33.9166 33.9168 27.0099 33.9168 18.4999C33.9168 9.98992 27.0102 3.08325 18.5002 3.08325ZM20.0418 26.2083H16.9585V16.9583H20.0418V26.2083ZM20.0418 13.8749H16.9585V10.7916H20.0418V13.8749Z" fill="white"/>
    </svg>
    <h1 class="text-2xl text-indigo-950">Información Básica</h1>
  </div>
  <%= render "form" %>
</div>

